.control_button {
    display: inline-block;
    overflow: hidden;
    padding: 10px;
    outline: none;
    border-width: 0;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.control_button a {
    color: inherit;
    text-decoration: none;
}

#start_recorder_button {
    background-color: #7B1FA2;
    color: #ecf0f1;
}

#start_recorder_button:hover,
#start_recorder_button:focus {
    background-color: #6A1B9A;
}

#start_recorder_button {
    background-color: #7B1FA2;
    color: #ecf0f1;
}

#start_recorder_button:hover,
#start_recorder_button:focus {
    background-color: #6A1B9A;
}

#stop_recorder_button {
    background-color: #D32F2F;
    color: #ecf0f1;
}

#stop_recorder_button:hover,
#stop_recorder_button:focus {
    background-color: #C62828;
}

#download {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

#download_button {
    background-color: #1976D2;
    color: #ecf0f1;

}

#download_button:hover,
#download_button:focus {
    background-color: #1565C0;
}

#download_button.pressed {
    background-color: #1A237E;
}

#download_file_name {
    float: left;
    margin: 8px;
    line-height: 2em;
}

#download_option {
    display: none;
    border: 1px solid #f0e7e7;
    background-color: #616161;
    transform: translateX(50%);
}

#download_option a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
}

#download_option #download_direct,
#download_option #download_rename {
    padding: 5px;
    text-align: left;
    cursor: pointer;
}

#download_option #download_direct:hover,
#download_option #download_rename:hover {
    background-color: #1976D2;
    color: #ecf0f1;
    font-weight: bold;
}