.control_button {
    border-radius: 6px;
    border-width: 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    outline: none;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
}

.control_button a {
    color: inherit;
    text-decoration: none;
}

#start_recorder_button {
    background-color: #7b1fa2;
    color: #ecf0f1;
}

#start_recorder_button:hover,
#start_recorder_button:focus {
    background-color: #6a1b9a;
}

#start_recorder_button {
    background-color: #7b1fa2;
    color: #ecf0f1;
}

#start_recorder_button:hover,
#start_recorder_button:focus {
    background-color: #6a1b9a;
}

#stop_recorder_button {
    background-color: #d32f2f;
    color: #ecf0f1;
}

#stop_recorder_button:hover,
#stop_recorder_button:focus {
    background-color: #c62828;
}

#download {
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

#download_button {
    background-color: #1976d2;
    color: #ecf0f1;
}

#download_button:hover,
#download_button:focus {
    background-color: #1565c0;
}

#download_button.pressed {
    background-color: #1a237e;
}

#download_file_name {
    float: left;
    line-height: 2em;
    margin: 8px;
}

#download_option {
    background-color: #616161;
    border: 1px solid #f0e7e7;
    display: none;
    transform: translateX(50%);
}

#download_option a {
    color: #ecf0f1;
    display: block;
    text-decoration: none;
}

#download_option #download_direct,
#download_option #download_rename {
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

#download_option #download_direct:hover,
#download_option #download_rename:hover {
    background-color: #1976d2;
    color: #ecf0f1;
    font-weight: bold;
}

#download_rename_dialog {
    top: -30%;
}

#download_rename_button {
    color: #d84315;
}

#download_rename_cancel {
    color: #424242;
}

#download_filename_error_message {
    color: #d32f2f;
    font-size: small;
    margin-left: 6em;
    padding-top: 3px;
}