@import "buttons.css";

body {
    background: #424242;
    color: #ecf0f1;
    margin: 5px;
    padding: 5px;
}

#container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flex_item {
    margin: 0.2em 0;
}

#preview {
    position: relative;
    text-align: center;
    width: 45%;
}

#app_title {
    color: #317af7;
    margin-bottom: 0.5em;
}

#preview_video {
    background-color: #212121;
    border: 1px solid white;
    width: 100%;
}

#recorder_time {
    color: red;
    position: absolute;
    right: 10px;
    text-shadow: 1px 1px #333333;
    top: 10px;
}

#has_system_audio,
#no_system_audio {
    background-color: #455a64;
    border-radius: 5px;
    left: 10px;
    padding: 3px;
    position: absolute;
    top: 50px;
}

#mic_volume,
#no_mic {
    background-color: #455a64;
    border-radius: 5px;
    position: absolute;
    top: 85px;
}

#mic_volume {
    left: 10px;
    line-height: 1;
    padding: 5px;
    writing-mode: vertical-rl;
}

#mic_volume_meter {
    display: inline-block;
    height: 3em;
    vertical-align: text-top;
}

#no_mic {
    left: 12px;
    padding: 2px;
}

#no_mic img {
    width: 20px;
}

#file_size {
    background-color: #455a64;
    border-radius: 5px;
    color: #ffa726;
    left: 10px;
    padding: 5px;
    position: absolute;
    text-shadow: 1px 1px #333333;
    top: 10px;
}

#countdown_time,
#preview_message {
    font-size: 2em;
    left: 50%;
    position: absolute;
    text-shadow: 3px 3px #333333;
    top: 10%;
    transform: translateX(-50%);
    width: 90%;
}

#countdown_time {
    color: red;
    font-size: 5em;
}

#message {
    background-color: #ed6f21;
    border-radius: 5px;
    bottom: 20%;
    color: #fafafa;
    font-weight: normal;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1;
}

#buttons {
    height: 4em;
    position: relative;
    text-align: center;
    width: 45%;
}

.dev,
.hide_on_start {
    display: none;
}

#options .option_item {
    background-color: #64b5f6;
    border: 2px solid #2196f3;
    border-radius: 6px;
    color: #000000;
    margin-bottom: 1em;
    padding: 8px;
}

#options option {
    font-weight: bold;
}

#options option:disabled {
    color: #999999;
}

#video_format .mime_type_supported {
    color: #5ba854;
}

#video_format .mime_type_unsupported {
    color: #d2c3b2;
}

#record_limit_time.disabled {
    color: #888888;
}

#record_limit_mins {
    width: 3em;
}

#instruction ul {
    margin: 0 auto;
}

#instruction ul li {
    padding: 3px 0;
}

#instruction ul li b {
    color: #f9a825;
}

#instruction ul li a:link,
#instruction ul li a:visited {
    color: #317af7;
}

#instruction #mic_test_countdown {
    color: red;
}

#mic_test_meter {
    display: none;
}

#version {
    bottom: 20px;
    color: #999999;
    position: absolute;
    right: 20px;
}

#version a {
    color: #bdbdbd;
}

#version a:hover {
    color: #757575;
}

#share_audio_tutorial {
    background-color: #060606;
    border: 3px solid #616161;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #616161;
    padding: 15px;
    width: 50%;
}

#share_audio_tutorial_close {
    font-size: small;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}

#share_audio_tutorial_picture {
    display: block;
    width: 100%;
}

#share_audio_tutorial_show {
    cursor: pointer;
    text-decoration: underline;
}
