@import "buttons.css";

body {
    margin: 5px;
    padding: 5px;
    background: #424242;
    color: #ecf0f1;
}

#container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex_item {
    margin: 0.3em 0;
}

#preview {
    width: 45%;
    text-align: center;
}

#countdown_time,
#preview_message {
    position: absolute;
    top: 10%;
    left: 50%;
    text-shadow: 3px 3px #333333;
    font-size: 3em;
    transform: translateX(-50%);
}

#countdown_time {
    color: red;
    font-size: 5em;
}

#recorder_time {
    position: relative;
    bottom: -2em;
    width: 98%;
    color: red;
    text-align: right;
    text-shadow: 1px 1px #333333;
}

#preview_video {
    width: 100%;
    border: 1px solid white;
    background-color: #212121;
}

#message {
    height: 1.6em;
    color: #FFB74D;
}

#buttons {
    position: relative;
    width: 45%;
    text-align: center;
}

#download {
    position: absolute;
    top: 0;
    right: 0;
}

#options .option_item {
    margin-bottom: 1em;
    padding: 8px;
    border: 2px solid #2196F3;
    border-radius: 6px;
    background-color: #64B5F6;
    color: #000000;
}

#mic_test_countdown {
    color: red;
}

#version {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #999999;
}

#version a {
    color: #bdbdbd;
}

#version a:hover {
    color: #757575;
}