body {
    margin: 5px;
    padding: 5px;
    background: #424242;
    color: #ecf0f1;
}

#preview {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 40%;
    border: 1px solid white;
    transform: translateX(-50%);
}

#message {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #E91E63;
    transform: translateX(-50%);
}

#start_recorder_button {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    padding: 15px;
    outline: none;
    border-width: 0;
    border-radius: 6px;
    background-color: #7B1FA2;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    font-size: 1.5em;
    transition: background-color 0.3s;
    transform: translateX(-50%);
}

#start_recorder_button:hover,
#start_recorder_button:focus {
    background-color: #6A1B9A;
}

#options {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#options .option_item {
    margin-bottom: 1em;
    padding: 8px;
    border: 2px solid #2196F3;
    border-radius: 6px;
    background-color: #64B5F6;
    /*display: inline-block;*/
    color: #000000;
}

#instruction {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

#version {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #999999;
}